*{
    margin: 0;
    padding: 0;
}

/*importando uma fonte*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root{
    --cor-primaria:#023436;
    --cor-secundaria:#CAE5FF;
    --cor-terciaria:#73E2A7;
    --cor-hover: #272727;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    /* height: 100vh; */
    width: 100%;
    box-sizing: border-box; /*controle de overflow, garante que o conteúdo 
    não ultrapasse o limite */
}

.container{
    padding: 5% 15%;
    margin-top: auto;
    /*flexbox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    /*
    flex-wrap: wrap;*/
}

.container__conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;/*para mudar colunas e linhas */
    gap: 40px;
}

.titulo__conteudo{
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

.titleDestaque{
    color:var(--cor-terciaria);
}

p{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.redes{
    /*background-color: #73E2A7;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    width:50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
}

.redes:hover{
    background-color: var(--cor-hover);
}

/* h1, p{
    ajustando o box model do título e parágrafo
    margin: 10px;
    padding: 5px;
    border: 2px;
} */

.fotoPc{
    border-radius: 4%; /* para arredondar a borda da imagem */
    width: 50%;
    height: 50%;
    top: 0%;
    left: 0%;
}

.rodape{
    padding: 16px;
    margin-top: auto;
    color: #000000;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    justify-content: flex-start;
    align-items: center;
}

.cabecalho__menu__link{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
}

@media(max-width: 1200px){
    .container{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .container__conteudo{
        width: auto;
    }
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .fotoPc{
        width: 70%;
    }
    .redes{
        width: 70%;
    }
}